<div *ngIf="product">
  <form [formGroup]="productForm" (ngSubmit) = "save()">
      <div class="field">
          <p>Name: {{product.name}}</p> 
          <input type="text" formControlName="name" placeholder={{product.name}} name="name" required>
      </div>
      <div class="field">
        <div>
          <p>Description: {{product.description}}</p>
        </div>
        <input type="text" formControlName="description" placeholder={{product.description}} name="description">
      </div>
      <div class="field">
        <div>
          <p>Price: {{product.price}}(euro)</p>
        </div>
        <input type="number" formControlName="price" placeholder={{product.price}} name="price" required>
      </div>
      <div class="field">
        <div>
        <p>Weight: {{product.weight}}(kg)</p>
        </div>
        <input type="number" formControlName="weight" placeholder={{product.weight}} name="weight" required>
      </div>
      <div class="field">
        <div>
        <p>Category: {{product.category}}</p>
        </div>
        <input type="number" formControlName="category" placeholder={{product.category}} name="category" required>
      </div>
      <div class="field">
        <div>
        <p>Supplier: {{product.supplier}}</p>
        </div>
        <input type="number" formControlName="supplier" placeholder={{product.supplier}} name="supplier" required>
      </div>
      <div class="field">
        <div>
        <p>ImageUrl: {{product.imageUrl}}</p>
        </div>
        <input type="text" formControlName="imageUrl" placeholder={{product.imageUrl}} name="imageUrl">
      </div>
      </form>
</div>
<div>
    <button type="submit" class="btn btn-success">Save</button>
</div>
<br/>
<button (click)="goBack()">Back</button>


